<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8" xmlns:fb="http://www.facebook.com/2008/fbml"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js" > <!--<![endif]-->
<head>
    <meta charset="utf-8"> 
    <title>{% block title %}{% endblock %}{{config.name}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{config.description}}">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.3.0/build/cssreset/reset-min.css&3.3.0/build/cssfonts/fonts-min.css&3.3.0/build/cssgrids/grids-min.css">
    <link rel="stylesheet" href="/static/css/app-style.css?v=1">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <script type="text/javascript" src="/static/js/modernizr-1.6.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>

    <div id="wrapper">
    <div style="overflow: hidden;padding:0 0 2px">
	<div id="header-wrapper" class="header_box_gradient box_shadow">
        <header id="branding">
            <hgroup>
                <h1 id="site-title"><a href="/" title="{{config.name}}" rel="home">{{config.name}}</a></h1>
            </hgroup>
			<span id="fb-like"><fb:like href="http://www.facebook.com/apps/application.php?id=141947329155355" layout="button_count" width="75" font="lucida grande"></fb:like></span>
        </header><!-- #branding -->

        <nav id="access">
        	<h1 class="visuallyhidden">Main menu</h1>
        	<div class="skip-link visuallyhidden"><a href="#content" title="Skip to content">Skip to content</a></div>
        	<div class="menu">
        	    <ul>
        			<li class="page_item"><a href="/dashboard">Pages</a></li>
        			<li class="page_item"><a href="javascript:void(0);" onclick="feedback_widget.show()">Help</a></li>
        			<li class="page_item"><a href="/upgrade">Upgrade</a></li>
        			<li class="page_item">{% include "inc/inc.fblogin.html" %}</li>
        	    </ul>
        	</div>
        </nav><!-- #access -->
		</div>
		</div>
	    <div id="main">
        	 {% block body %}{% endblock %}
        </div><!-- #main -->
		<div class="push"></div> 
     </div><!-- #wrapper -->
        <footer id="colophon">
	        <div id="footer">
				<div id="copyright" class="col-left">
				<ul class="ft-list1">
				<li class="ft-header">Pagify</li>
				<!--<li><a href="http://getsatisfaction.com/pagifyapp">Get Support via Get Satisfaction</a></li>-->
				<li><a href="http://pagifyapp.com/contact/">Contact Us</a></li>
				<li><a href="http://pagifyapp.com/privacy-policy/">Privacy Policy</a></li>
				<li><a href="http://pagifyapp.com/terms-conditions/">Terms &amp; Conditions</a></li>
				</ul>
				<ul class="ft-list1">
				<li class="ft-header">News and Updates</li>
				<!--<li><a href="/blog/">Blog</a></li>-->
				<li><a href="http://twitter.com/pagifyapp">Follow us on Twitter</a></li>
				<li><a href="http://www.facebook.com/apps/application.php?id=141947329155355">Find us on Facebook</a></li>
				</ul> </div>
				<div id="credit" class="col-right">
				<ul class="ft-list2">
				<li class="ft-header">Create custom Facebook Fan Pages.</li>
				<li>Copyright &copy; 2011 Pagify. All Rights Reserved.</li>
				<li>Pagify is Part of <a href="http://www.seedprod.com">SeedProd</a>.</li>
				<li><img src="/static/images/pagify-logo-ft.png"></li>
				</ul> </div>
            </div>
        </footer>
        
    
    {% include "inc/inc.fbjssdk.html" %}
    <!-- Google API's -->
    <script src="http://www.google.com/jsapi?key={{google.api_key}}"></script>
    <script>
        google.load("jquery", "{{google.jquery_version}}", {uncompressed:true});
    </script>
    <!-- My Scripts -->
    <script src="/static/js/plugins.js?v=1"></script>
    <script src="/static/js/script.js?v=3"></script>
    <!--[if lt IE 7 ]>
    <script type="text/javascript" src="/static/js/dd_belatedpng.js?v=1"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
    {% if config.google_analytics_id %}
    <!-- Google Analytics -->
    <script>
        //<![CDATA[
    	var _gaq = _gaq || [];
    	_gaq.push(['_setAccount','{{config.google_analytics_id}}']);
    	_gaq.push(['_setDomainName', '.pagifyapp.com']);
      _gaq.push(['_setAllowHash', false]);
    	_gaq.push(['_trackPageview']);
    	(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    	})();
    	//]]>
	</script>
    {% endif %}
    <!-- Get Satisfaction -->
    <script type="text/javascript" charset="utf-8">
      var is_ssl = ("https:" == document.location.protocol);
      var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
      document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <script type="text/javascript" charset="utf-8">
      var feedback_widget_options = {};
      feedback_widget_options.display = "overlay";  
      feedback_widget_options.company = "pagifyapp";
      feedback_widget_options.placement = "left";
      feedback_widget_options.color = "#333";
      feedback_widget_options.style = "question";
      var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
    </script>
	{% block foot %}{% endblock %}
</body>
</html>
