{% extends "base.html" %}
{% block title %}Dashboard - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/man-in-black/jquery-ui-{{google.jquery_ui_version}}.custom.css">
{% endblock %}
{% block body %}
<div id="primary"> 
    <div id="content">
		<h1>Pages</h1>
		<p>Hi <fb:name uid="loggedinuser" use-you="no"></fb:name>, {% if pages %}these are the pages you have admin rights to. Click on a Page to manage.{% else %}looks like you don't have any Facebook Pages yet? <a href="http://www.facebook.com/pages/create.php">Go create a Facebook Page!</a> Use the right hand option "Official Page".{% endif %}
		<div id="pages-list" class="clearfix">
		    {% for p in pages %}
				<div class="fbpage-item boxer ui-corner-all hand">
				  {% if p.upgraded == "0" %}
				  <div class="upgrade-ribbon"><a href="/upgrade?p={{p.id}}"></a></div>
				  {% endif %}
				  <div class="fbpage-title-wrapper">
				  <span class="fbpage-title"><a href="/edit/page/{{p.id}}">{{p.name}}</a></span>
				  <!--<span class="upgrade"><a href="/upgrade?p={{p.id}}">Upgrade</a></span>-->
				  </div>
				  <img src="http://graph.facebook.com/{{p.id}}/picture" class="fb-picture">
				</div>
			{% endfor %}
		</div>
		<div style="clear:both"></div>
    </div><!-- #content -->
</div><!-- #primary -->
<div id="secondary" class="widget-area">
	<div id="pagify-feed">
	    <h3>Updates</h3>
	    <a id="rss-feed" href="http://search.twitter.com/search.atom?q=pagifyupdates" class="ir">RSS</a>  
	    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: 'pagifyupdates',
        interval: 6000,
        title: 'Pagify Updates',
        subject: '',
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: 'transparent',
            color: '#ffffff'
          },
          tweets: {
            background: 'transparent',
            color: '#444444',
            links: '#1985b5'
          }
        },
        features: {
          scrollbar: true,
          loop: false,
          live: true,
          hashtags: true,
          timestamp: true,
          avatars: true,
          toptweets: false,
          behavior: 'all'
        }
      }).render().start();
      </script>
        <!--<ul id="feed">
            
        </ul>-->
    </div>
</div> <!-- #secondary -->
<div style="clear:both"></div>
{% endblock %}
{% block foot %}
<script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
<script type="text/javascript"> 
    /*google.load("feeds", "1");

    function initialize() {
      var feed = new google.feeds.Feed("http://pagifyapp.com/category/updates/feed/");
      feed.load(function(result) {
        if (!result.error) {
            var container = document.getElementById("feed");
            for (var i = 0; i < result.feed.entries.length; i++) {
              var entry = result.feed.entries[i];
              var attributes = ["publishedDate"];
              for (var j = 0; j < attributes.length; j++) {
                var div = document.createElement("div");
                div.appendChild(document.createTextNode(entry[attributes[j]]));
                container.appendChild(div);
              }
                var m_names = new Array("Jan", "Feb", "Mar", 
                "Apr", "May", "Jun", "Jul", "Aug", "Sep", 
                "Oct", "Nov", "Dec");
                var d = new Date(entry.publishedDate);
                var curr_date = d.getDate();
                var curr_month = d.getMonth();
                var curr_year = d.getFullYear();
                var pubdate = m_names[curr_month] + " " + curr_date + ", " + curr_year;
			    div.innerHTML = "<li><a href=\"" + entry.link + "\">" + entry.title + "</a><span>" + pubdate + "</span></li>";
            }
        }
      });
    }
    google.setOnLoadCallback(initialize);*/
</script>
{% endblock %}