{% extends "base.html" %}
{% block title %}Dashboard - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/man-in-black/jquery-ui-{{google.jquery_ui_version}}.custom.css">
{% endblock %}
{% block body %}
<div id="primary" class="full-col"> 
    <div id="content">
		<h1>Pages</h1>
		<p>Hi <fb:name uid="loggedinuser" use-you="no"></fb:name>, {% if pages %}these are the pages you have admin rights to. Click on a Page to manage.{% else %}looks like you don't have any Facebook Pages yet? <a href="http://www.facebook.com/pages/create.php">Go create a Facebook Page!</a> Use the right hand option "Official Page".{% endif %}
		<div id="pages-list" class="clearfix">
		    {% for p in pages %}
				<div class="fbpage-item boxer ui-corner-all hand">
				  <div class="upgrade-ribbon"><a href="/upgrade?p={{p.id}}"></a></div>
				  <div class="fbpage-title-wrapper">
				  <span class="fbpage-title"><a href="/edit/page/{{p.id}}">{{p.name}}</a></span>
				  <!--<span class="upgrade"><a href="/upgrade?p={{p.id}}">Upgrade</a></span>-->
				  </div>
				  <img src="http://graph.facebook.com/{{p.id}}/picture" class="fb-picture">
				</div>
			{% endfor %}
		</div>
		<div style="clear:both"></div>
    </div><!-- #content -->
</div><!-- #primary -->
<!--<div id="secondary" class="widget-area">
	<ul class="xoxo">
        <li id="widget-" class="widget-container">
            <h2 class="widget-title"></h2>
            <ul>
                <li>fdgfdgdgdfg</li>
            </ul>
        </li>
    </ul>
</div>  #secondary -->
{% endblock %}
{% block foot %}
<script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
{% endblock %}