{% extends "base.html" %}
{% block title %}Edit - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/man-in-black/jquery-ui-1.8.9.custom.css">
<link rel="stylesheet" href="/static/css/south-street/jquery-ui-1.8.9.custom.css">
{% endblock %}
{% block body %}
<div id="primary"> 
    <div id="content">
	<h1>Edit</h1>
		<div id="fb-profile" class="yui3-g">
		    <div id="fb-left-column" class="yui3-u">
		        <img src="http://graph.facebook.com/{{page.id}}/picture?type=large"/>
				<div id="facebook-page-sidebar">
				</div>
				{% if page.upgraded == "0" %}
				<a class="upgrade-ribbon-large" href="/upgrade?p={{page.id}}"></a>
				{% endif %}
		    </div>
			<div id="fb-right-column" class="yui3-u">
				<h1 id="fb-title">{{page.name}}</h1>
		        <!-- Image Header -->
				<!--<div id="pagify-header" class="ui-corner-all boxer">
					<div id="pagify-image" style="width:500px;height:500px;background:url('{{page.header_image_url}}=s540') no-repeat";>
					</div>
				</div>-->
				<img id="pagify-image" class="hand" src="{{page.header_image_url|default_if_none:"/static/images/no-fb-image.png?"}}=s520">
			
				<!-- Widgets -->
				<div id="widget-list" class="" style="display:none">
					{% for w in widgets %}
					<div id="{{w.id}}" class="widget-list-item">
						<span class="wheader">
						<h3><a href="#" class="inline-edit">{{w.name}}</a></h3>
						<span class="btn-delete"><span class="ui-icon ui-icon-trash"></span></span>
						<!--<span class="btn-unlock"><span class="ui-icon ui-icon-unlocked"></span></span>-->
						</span>
						<div>Loading...</div>
						<span class="hidden wtype">{{w.type}}</span>
					</div>
					{% endfor %}
				</div>
			</div>
        </div><!-- #fb-profile-->
    </div><!-- #content -->
</div><!-- #primary -->


    <div id="sb-widgets-menu" class="widget box_round_6">
        <div id="sb-widgets-header">
            {% if page.has_added_app %}
            <a id="facebook-view" href="{{page.link}}?sk=app_141947329155355" class="hand" target="_blank"></a>
            {% else %}
            <a id="facebook-publish" href="http://www.facebook.com/add.php?api_key={{facebook.api_key}}&pages=1&page={{page.id}}" target="_blank" class="hand"></a>
            {% endif %}
    	</div>
    	<div id="controller-tabs">
        	<ul>
        		<li><a href="#tabs-1">Widgets</a></li>
        		<li><a href="#tabs-2">Settings</a></li>
        		<!--<li><a href="#tabs-3">Tips and Tricks</a></li>-->
        	</ul>
        	<div id="tabs-1">
        		<p>Click on a Widget below to add it to the Widget Area on your page.</p>
        		<div class="yui3-g">
        	    <ul class="yui3-u-1-2">
        			<li id="wi-text" class="wi draggable ui-state-default ui-corner-all">Text</li>
        			<li id="wi-twitter" class="wi draggable ui-state-default ui-corner-all">Twitter</li>
        			<li id="wi-flickr" class="wi draggable ui-state-default ui-corner-all">Flickr</li>
        	        <li id="wi-youtube" class="wi draggable ui-state-default ui-corner-all">YouTube</li>
        			
        	    </ul>
        	    <ul class="yui3-u-1-2">
        	        <li id="wi-googlemaps" class="wi draggable ui-state-default ui-corner-all">Google Maps</li>
        			<!--<li id="wi-facebookwall" class="wi draggable ui-state-default ui-corner-all">Facebook Wall</li>-->
        			<li id="wi-feed" class="wi draggable ui-state-default ui-corner-all">Feed</li>
        			<!--<li id="wi-wufoo" class="wi draggable ui-state-default ui-corner-all">WuFoo</li>-->
        	        <!--<li id="wi-mailchimp" class="wi draggable ui-state-default ui-corner-all">MailChimp</li>-->
        	        <li id="wi-embedly" class="wi draggable ui-state-default ui-corner-all">Embedly</li>
        	    </ul>
        	    </div>
        	</div>
        	<div id="tabs-2">
        	    <div id="options_ga" class="gray_boxer">
            		<h3>Google Analytics</h3>
            		<p>Get analytics on your page. Simply give us your Google Analytics Domain ID (something like UA-123456-1) and we'll add it to your page. Leave blank if none.</p>
            		<div>
            		    <input type="text" id="google_analytics_ua" value="{{options.google_analytics_ua.value}}"></input>
            		    <input type="hidden" id="google_analytics_ua_id" value="{{options.google_analytics_ua.id}}"></input>
            		    <span class="south-street"><button class="btn">Save</button></span>
            		    
            		    
            		</div>
        		</div>
        	</div>
        	<!--<div id="tabs-3">
        	  <h3>Tips and Tricks</h3>
        	</div>-->
        </div>
    </div>




<!-- Dialogs -->
<div id="upload-dialog" title="Upload Image" style="display:none;">
    <div id="fileQueue"></div>
    <input type="file" name="uploadify" id="uploadify" />
    <p>Images larger than 520px wide will be resized. Images smaller than 520px will be shown as is.</p>
</div>
<div id="dialog-delete-confirm" title="Delete Widget?" style="display:none;">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This widget will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<div id="fbox-install" style="display:none;">
    <p>Install instructions.</p>
    <a href="http://www.facebook.com/add.php?api_key={{facebook.api_key}}&pages=1&page={{page.id}}">Install</a>
</div>
<span id="page-id" class="hidden">{{page.id}}</span>
{% endblock %}
{% block foot %}
<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
<script type="text/javascript" src="/static/js/tiny_mce/jquery.tinymce.js"></script>
<script src="/static/js/jquery.notifyBar.js"></script>
<script>
if (location.href.search('#reload')  != -1){
  window.location.href = window.location.href.split('#')[0];
}
$.ajaxSetup ({
    // Disable caching of AJAX responses */
    cache: false
});
var scriptUrl = '{{upload_url}}';
$(document).ready(function() {
	 // Facebox
    	$.facebox.settings.opacity = 0.7;
    	$('a[rel*=facebox]').facebox();
    	// Tooltips
    	$('#fb-left-column').tipTip({defaultPosition:'top',content: "This is just a test Facebook Page so you can get an idea of what your page will look like after you publish it."});
	// Uploadify
	
	$("#uploadify").uploadify({
		'uploader'       : '/static/swf/uploadify.swf',
		'script'         : scriptUrl,
		'cancelImg'      : '/static/images/cancel.png',
		'folder'         : '{{page_id}}',
		'queueID'        : 'fileQueue',
		'fileExt'        : '*.jpg;*.jpeg;*.png',
		'fileDesc'       : 'Image Files',
		'auto'           : true,
		'multi'          : false,
		'onError': function(event, queueID,fileOb,errorObj) {
		    log('error')
                       if(errorObj.type == 'HTTP' && errorObj.info == '302'){
                          $(".uploadifyQueueItem").fadeOut(function() {
                              $("#fileQueue").html('');
							  // Grab new script url
							  $.get("/api/scripturl", function(data){scriptUrl=data;});
							  //Refresh Picture
							  //$.get("/api/headerimageurl", { p: "{{page.id}}"},function(data){$("#pagify-image").css('background-image','url('+data+'=s540)');});
                              $.get("/api/headerimageurl", { p: "{{page.id}}"},function(data){$("#pagify-image").attr('src',data+'=s520');$( "#widget-list" ).sortable( "refresh" );});
                              $("#upload-dialog").dialog( "close" );
                              
                          });
                          return false;   
                       } else {$.get("/api/scripturl", function(data){scriptUrl=data;});}
                    }
	});
	
	// TinyMCE
	$("body").live("widgetloaded", function(event){
	$('textarea.tinymce').tinymce({
		// Location of TinyMCE script
		script_url : '/static/js/tiny_mce/tiny_mce.js',

		// General options
		theme : "advanced",
		plugins : "inlinepopups,pagebreak,noneditable",

		// Theme options
        theme_advanced_toolbar_location : "top",
        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,separator,formatselect,separator,bullist,numlist,outdent,indent,blockquote",
        theme_advanced_buttons2 : "undo,redo,separator,link,unlink,separator,justifyleft,justifycenter,justifyright,separator,code,removeformat",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_align : "left",
		theme_advanced_resizing : true,
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_blockformats : "p,div,h1,h2,h3,h4,h5,h6",

		convert_urls : 0,
        dialog_type : "modal",
        object_resizing : false,
        extended_valid_elements : "markdown,object[align|width|height|flashvars|type|data|id|classid,classid:clsid:D27CDB6E-AE6D-11cf-96B8-444553540000],param[name|value],embed[src|type|wmode|width|height|autoplay|flashvars|classid,allowfullscreen],iframe[width|height|scrolling|marginheight|marginwidth|frameborder|border|src]",
        /*setup: function(ed) {
        		ed.addButton('hideeditor', {
        			title : 'Edit HTML Source',
        			image : '/images/icons/html.png',
        			onclick : function() { ed.hide(); $('unhide_editor').show();} });

        	}*/
	});
	});
});
// Settings

$( "#options_ga button").button().click(function() { 
        $.post("/api/saveoption", { id:$("#google_analytics_ua_id").val(), oname: 'google_analytics_ua', ovalue: $('#google_analytics_ua').val()  , otype: 'page', opageid: $("#page-id").html() },function(data){
    	    if(data){
    	        log('Saved Option');
    	        //$('#saving').show().delay(1500).fadeOut('slow');
    	        $.notifyBar({
                  html: "Saved",
                  delay: 3000,
                  cls: "success",
                  animationSpeed: "normal"
                });
    	    };
        });
      });

function yqlQuery(query,cbFunc,format,maxage,env) {
    var yqlURL = 'http://query.yahooapis.com/v1/public/yql';
    query = typeof(query) != 'undefined' ? encodeURIComponent(query) : '';
    format = typeof(format) != 'undefined' ? format : 'json';
    env = typeof(env) != 'undefined' ? env : 'store://datatables.org/alltableswithkeys';
    maxage = typeof(maxage) != 'undefined' ? maxage : '';
    yql = yqlURL + '?q=' + query + '&format=' + format + '&diagnostics=false&_maxage=' + maxage + '&env=' + env;
	$.ajax({url: yql, 
            dataType: 'jsonp',
            jsonp: 'callback', 
            jsonpCallback: cbFunc
            });
}

</script>
{% endblock %}