{% extends "base.html" %}
{% block title %}Edit - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/cupertino/jquery-ui-1.8.5.custom.css">
<link rel="stylesheet" href="/static/css/tipsy.css">
<link rel="stylesheet" href="/static/css/facebox.css">
{% endblock %}
{% block body %}
<div id="primary"> 
    <div id="content">
	<h1>Edit</h1>
		<div id="fb-profile" class="yui3-g">
		    <div id="fb-left-column" class="yui3-u">
		        <img src="http://graph.facebook.com/{{page.id}}/picture?type=large"/>
				<div id="facebook-page-sidebar">
				</div>
		    </div>
			<div id="fb-right-column" class="yui3-u">
				<h1 id="fb-title">{{page.name}}</h1>
		        <!-- Image Header -->
				<!--<div id="pagify-header" class="ui-corner-all boxer">
					<div id="pagify-image" style="width:500px;height:500px;background:url('{{page.header_image_url}}=s540') no-repeat";>
					</div>
				</div>-->
				<img id="pagify-image" class="hand" src="{{page.header_image_url|default_if_none:"/static/images/no-fb-image.png?"}}=s520">
			
				<!-- Widgets -->
				<div id="widget-list">
					{% for w in widgets %}
					<div id="{{w.id}}" class="widget-list-item">
						<span class="wheader">
						<h3><a href="#" class="inline-edit">{{w.name}}</a></h3>
						<span class="btn-delete"><span class="ui-icon ui-icon-trash"></span></span>
						</span>
						<div>Loading...</div>
						<span class="hidden wtype">{{w.type}}</span>
					</div>
					{% endfor %}
				</div>
			</div>
        </div><!-- #fb-profile-->
    </div><!-- #content -->
</div><!-- #primary -->


    <div id="sb-widgets-menu" class="widget">
    	<h2 class="ui-widget-header ui-corner-tl ui-corner-tr">Widgets</h2>
    	<div class="ui-widget-content ui-corner-bl ui-corner-br">
	    <p>Drag &amp; drop or add any of these widgets in the widgets-area on your page.</p>
	    <ul>
			<li id="wi-text" class="draggable ui-state-active ui-corner-all">Text</li>
			<li id="wi-twitter" class="draggable ui-state-active ui-corner-all">Twitter</li>
			<li id="wi-flickr" class="draggable ui-state-active ui-corner-all">Flickr</li>
	        <li id="wi-youtube" class="draggable ui-state-active ui-corner-all">YouTube</li>
			<li id="wi-googlemaps" class="draggable ui-state-active ui-corner-all">Google Maps</li>
	    </ul>
	    </div>
    </div>





<!-- Dialogs -->
<div id="upload-dialog" title="upload">
    <div id="fileQueue"></div>
    <input type="file" name="uploadify" id="uploadify" />
    <p><a href="javascript:jQuery('#uploadify').uploadifyClearQueue()">Cancel All Uploads</a></p>
</div>
<div id="dialog-delete-confirm" title="Delete Widget?">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This widget will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<div id="fbox-install" style="display:none;">
    <p>Install instructions.</p>
</div>
<span id="page-id" class="hidden">{{page.id}}</span>
{% endblock %}
{% block foot %}
<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="/static/js/jquery-ui-1.8.6.custom.min.js"></script>
<script src="/static/js/jquery.uploadify.v2.1.3.min.js"></script>
<script src="/static/js/jquery.json-2.2.min.js"></script>
<script src="/static/js/jquery.tipsy.js"></script>
<script src="/static/js/facebox.js"></script>
<script>
$.ajaxSetup ({
    // Disable caching of AJAX responses */
    cache: false
});
$(document).ready(function() {
	// Facebox
	$.facebox.settings.opacity = 0.2;
	$('a[rel*=facebox]').facebox();
	// Tooltips
	$('#fb-header-wrapper,#fb-left-column').tipsy({gravity: 's',fade: true,fallback: "This is just a test Facebook Page so you can get an idea of what your page will look like after you publish it."});
	// Uploadify
	var scriptUrl = '{{upload_url}}';
	$("#uploadify").uploadify({
		'uploader'       : '/static/swf/uploadify.swf',
		'script'         : scriptUrl,
		'cancelImg'      : '/static/images/cancel.png',
		'folder'         : '{{page_id}}',
		'queueID'        : 'fileQueue',
		'fileExt'        : '*.jpg;*.jpeg;*.png',
		'fileDesc'       : 'Image Files',
		'auto'           : true,
		'multi'          : false,
		'onError': function(event, queueID,fileOb,errorObj) {
                       if(errorObj.type == 'HTTP' && errorObj.info == '302'){
                          $(".uploadifyQueueItem").fadeOut(function() {
                              $("#fileQueue").html('');
							  // Grab new script url
							  $.get("/api/scripturl", function(data){scriptUrl=data;});
							  //Refresh Picture
							  //$.get("/api/headerimageurl", { p: "{{page.id}}"},function(data){$("#pagify-image").css('background-image','url('+data+'=s540)');});
                              $.get("/api/headerimageurl", { p: "{{page.id}}"},function(data){$("#pagify-image").attr('src',data+'=s540');});
                          });
                          return false;   
                       } else {$.get("/api/scripturl", function(data){scriptUrl=data;});}
                    }
	});
});
</script>
{% endblock %}