<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Pagify</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.3.0/build/cssgrids/grids-min.css">
  <link rel="stylesheet" href="/static/css/aristo/jquery-ui-1.8.7.custom.css">
  <link rel="stylesheet" href="/static/css/jquery.fancybox-1.3.4.css">
  <link rel="stylesheet" href="/static/css/pagify-style.css?v=1">
  <script src="/static/js/modernizr-1.6.min.js"></script>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  {% if status == 'False'  %}
  <style type="text/css">
  #container{
    zoom:1;
    opacity: 0.2;
    filter: alpha(opacity = 20);
  }
  </style>
  {% endif %}
</head>
<body>
  {% if status == 'False'  %}
  <div id="fbpage-error">
    <h2>This Pagify Page has expired.</h2>
    <p>If you are the owner please visit <a href="http://pagifyapp.com">http://pagifyapp.com</a> to update your account.</p>
  </div>
  {% endif %}
  <div id="container" class="fbpage">
    <header>
    </header>
    <div id="main">
            {% if page.header_image_url %}
            <img id="pagify-image" class="widget" src="{{page.header_image_url}}=s520"/>
            {% endif %}

            <div id="pagify-widget-list-1" class="widget" style="display:none">
            	{% for w in widgets %}
                	<h3><a href="#">{{w.name}}</a></h3>
                	<div id="{{w.id}}" class="widget-list-item widget-{{w.type}}">
            	            {% ifequal w.type "text" %}
                                {{w.text__text|removetags:"script"|safe}}
                	        {% endifequal %}
                	        {% ifequal w.type "twitter" %}      
								<script>
								    new TWTR.Widget({
								      version: 2,
								      type: 'profile',
								      rpp: 4,
								      interval: 6000,
								      width: 'auto',
								      height: 300,
								      theme: {
								        shell: {
								          background: 'transparent',
								          color: 'inherit'
								        },
								        tweets: {
								          background: 'transparent',
								          color: 'inherit',
								          links: 'inherit'
								        }
								      },
								      features: {
								        scrollbar: false,
								        loop: false,
								        live: false,
								        hashtags: true,
								        timestamp: true,
								        avatars: false,
								        behavior: 'all'
								      }
								    }).render().setUser('{{w.twitter_username|default:"pagifyapp"}}').start();
								</script>
                	        {% endifequal %}  
                	        {% ifequal w.type "flickr" %}  
                	        <img src="/static/images/loading.gif" alt="Loading..." class="fb-loading"/> 
                	        {% endifequal %}   
                	        {% ifequal w.type "youtube" %}   
                	        <img src="/static/images/loading.gif" alt="Loading..." class="fb-loading"/>   
                	        {% endifequal %}
                	        {% ifequal w.type "feed" %}   
                	        <img src="/static/images/loading.gif" alt="Loading..." class="fb-loading"/>   
                	        {% endifequal %}
                	        {% ifequal w.type "googlemaps" %} 
                	        {{w.googlemaps_code|safe}}    
                	        {% endifequal %}
                	        {% ifequal w.type "embedly" %}
                	        {{w.embedly_code|safe}}    
                	        {% endifequal %}     	    
                    </div>
            	{% endfor %}
            </div>
      </div><!-- end of #main -->
      <footer>
         <!-- <a id="powered-by" href="http://www.pagifyapp.com"><img src="/static/images/powered-by-pagify.png" alt="Powered by Pagify"/></a>-->
      </footer>
    </div> <!-- end of #container -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{facebook.app_id}}', status: true, cookie: true, xfbml: true});
    	  FB.Canvas.setAutoResize();
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/{{google.jquery_version}}/jquery.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src=" /static/js/jquery-{{google.jquery_version}}.js"%3E%3C/script%3E'))</script>
    <script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
    <script src="/static/js/pagify-plugins.js"></script>
    <script>
	function yqlQuery(query,cbFunc,format,maxage,env) {
	    var yqlURL = 'http://query.yahooapis.com/v1/public/yql';
	    query = typeof(query) != 'undefined' ? encodeURIComponent(query) : '';
	    format = typeof(format) != 'undefined' ? format : 'json';
	    env = typeof(env) != 'undefined' ? env : 'store://datatables.org/alltableswithkeys';
	    maxage = typeof(maxage) != 'undefined' ? maxage : '';
	    yql = yqlURL + '?q=' + query + '&format=' + format + '&diagnostics=false&_maxage=' + maxage + '&env=' + env + '&rnd=_2010031310';
		$.ajax({url: yql, 
	            dataType: 'jsonp',
	            jsonp: 'callback', 
	            jsonpCallback: cbFunc
	            });
	}
	function targetTop(id){
	    $('.fbpage a').each(function() {
            this.target = '_top';
        });
	}
	targetTop();
    $(document).ready(function() {
        $( "#pagify-widget-list-1" ).accordion({autoHeight: false, animated: 'slide' });
        
        // Ajax Accordian
		$("#pagify-widget-list-1" ).bind('accordionchange', function(event, ui) {
		  if($(" > img",ui.newContent).attr('alt') == 'Loading...'){
		      wid = $(ui.newContent).attr('id');
		      call = "call_" + wid.replace(/-/g, "") + "()";
              eval(call);
		  }
		}).fadeIn();
		
		// Load default widget if there is one
		var firstWidget = $("#pagify-widget-list-1 > div:eq(0)");
		if($(firstWidget) && $(" > img",firstWidget).attr('alt') == 'Loading...'){
		    wid = $(firstWidget).attr('id');
		    call = "call_" + wid.replace(/-/g, "") + "()";
            eval(call);
	    }
	    
	    targetTop();
        
    });
	{% for w in widgets %}
		{% ifequal w.type "flickr" %}
		    
			function cbFunc_{{w.id|cut:"-"}}(data) {
			    var html = '';
				$.each(data.results, function(index, value) { 
				  html = html + value;
				});
				$('#{{w.id}}').html(html);
				$('#{{w.id}} .flickr_badge_image').each(function() {
				    $("a",this).data('flickr_link', $("a",this).attr('href'));
            	    $("a",this).addClass('fgallery').attr({
                      rel: 'group1',
                      href: $("a > img",this).attr('src').replace(/_t/,"")
                    });
            	});
            	$("#{{w.id}} .fgallery").fancybox({
            	    'centerOnScroll': true,
            	    'overlayShow'   : false,
            	    'titleShow'     : true,
            	    'titlePosition' : 'inside',
            	    'titleFormat'   : function() {return '<span class="fancybox-title-over"><a target="_top" href="'+$('a[href="'+this.href+'"]').data('flickr_link')+'">'+'View Original'+'</a></span>';},
                    'transitionIn'  : 'elastic',
                    'transitionOut' : 'elastic'
            	});
            	targetTop();
            	var postMaxHeight = 0;
                $("#{{w.id}} .fgallery img").each(function (i) {
                     var elHeight = $(this).height();
                     if(parseInt(elHeight) > postMaxHeight){
                         postMaxHeight = parseInt(elHeight);
                     }
                });
                $("#{{w.id}} .flickr_badge_image").each(function (i) {
                    $(this).css('height',postMaxHeight+'px');
                });
                
			}
			function call_{{w.id|cut:"-"}}() {
			    yqlQuery('select * from html where url="http://www.flickr.com/badge_code_v2.gne?count={{w.flickr_count}}&display={{w.flickr_whichone}}&size=t&layout=x&source=user&user={{w.flickr_userid}}" and xpath=\'//div[@class="flickr_badge_image"]\'','cbFunc_{{w.id|cut:"-"}}','xml','3600');
            }
		{% endifequal %}
	    {% ifequal w.type "youtube" %}
    	    function cbFunc_{{w.id|cut:"-"}}(data) {
                var html = '';
                var count = 0
                $.each(data.query.results.item, function(index, value) { 
                   html = html + value.description;
                   count++;
            	   if(count == {{w.youtube_count|default:"5"}}){
            	       return false;
            	   }
            	});
                $('#{{w.id}}').html(html);
                $('#{{w.id}} > div').css('width','100%');
                targetTop();
                $('#{{w.id}} a[href^="http://www.youtube.com/watch"]').click(function() {
                var ele = this;
                $.fancybox({
                    'centerOnScroll': true,
                    'overlayShow'   : false,
                    'titleShow'     : false,
            	      'padding'		: 0,
        		      	'autoScale'		: false,
                    'transitionIn'  : 'elastic',
                    'transitionOut' : 'elastic',
              			'width'		    : 450,
              			'height'		: 283,
              			'href'			: this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
              			'type'			: 'swf',
              			'swf'			: {
        			   	      'wmode'		: 'transparent',
        				        'allowfullscreen'	: 'true'},
    				        'onComplete':	function() {
            				  var p = $(ele);
            				  log(ele);
            				  var position = p.position(); 
            				  $("#fancybox-wrap").css("top",position.top + 'px');}
            	  });
            	return false;
            	});
            }
            function call_{{w.id|cut:"-"}}() {
                yqlQuery('select * from rss where url=\'http://gdata.youtube.com/feeds/base/users/{{w.youtube_username}}/uploads?alt=rss&v=2&orderby=published\'','cbFunc_{{w.id|cut:"-"}}','json','3600');
            }
	    {% endifequal %}
	    {% ifequal w.type "feed" %}
	        function cbFunc_{{w.id|cut:"-"}}(data) {
                var html = '';
                var count = 0
                $.each(data.query.results.feed.entry, function(index, value) { 
            	   html = html + '<h2><a href="'+value.link.href+'">' + value.title + '</a></h2><span>'+dateFormat(value.published,"longDate")+'</span>';
            	   try{
            	       summary =value.summary.content;
            	   }catch(err){}
            	   if(typeof summary !== 'undefined'){
            	       html = html + '<p class="clearfix">' + value.summary.content + '</p>';   
            	   }
            	   count++;
            	   if(count == 10){
            	       return false;
            	   }
            	   
            	});
            	$('#{{w.id}}').html(html);
            	targetTop();
            }
            function call_{{w.id|cut:"-"}}() {
                yqlQuery('select * from feednormalizer where url=\'{{w.feed_url}}\' and output=\'atom_1.0\'','cbFunc_{{w.id|cut:"-"}}','json','3600');
            }
	    {% endifequal %}
	{% endfor %}
    </script>
    <!--[if lt IE 7 ]>
        <script src="/static/js/dd_belatedpng.js"></script>
        <script> DD_belatedPNG.fix('img, .png_bg'); </script>
      <![endif]-->
    <script>
     var _gaq = [['_setAccount', '{{options.google_analytics_ua.value}}'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>

  </body>
</html>