{% extends "base.html" %}
{% block body %}
<div id="index" class="yui3-g">
	<div class="yui3-u-1-2">
	<h1 id="site-title">Pagify</h1>
	<h2 id="site-description">Create Custom<br/>Facebook Business Pages</h2>
	<p>
	Do you really want visitors to your Facebook page landing on your wall? Pagify allows you to easily create a 
	cool custom Facebook page tab that you can set as your landing page. Upload custom images and select from a 
	number of widgets such as Twitter, Flickr, and YouTube to help drive your branding strategy or promotional campaigns.
	Pagify is also perfect for small businesses that don't have a web site and want to use
	 Facebook pages as their main web presence.
	
	<br><br>

	<div id="wrapper-sign-in">
	    <span id="sign-in">Sign in to get started for free &raquo</span><span id="fb-like-btn">{% include "inc/inc.fblogin.html" %}</span>
	</div>
	<div id="wrapper-features">
		<h3>Available Widgets</h3>
		<ol>
			<li>Super simple and easy to use.</li>
			<li>Free for non profits.</li>
			<li>Tons of Widgets</li>
		</ol>
	</div>
	</div>
	<div class="yui3-u-1-2">
		<img id="pagify-example" src="/static/images/pagify-example.png" alt="Pagify Example">
		<a href="http://www.facebook.com/pages/Pagify/117299828329966"><img id="find-us-on-facebook" src="/static/images/find-us-on-facebook.png" alt="Find Pagify on Facebook"></a>
	</div>
</div>
{% endblock %}