{% extends "base.html" %}
{% block title %}Upgrade - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/man-in-black/jquery-ui-1.8.9.custom.css">
<link rel="stylesheet" href="/static/css/south-street/jquery-ui-1.8.9.custom.css">
{% endblock %}
{% block body %}
<h1>{% if subscriber_info.status == "Active" %}Upgrade / Downgrade{% else %}Upgrade{% endif %}</h1>
<ul id="upgrade-list" class="south-street">
    {% for p in pages %}
        <li class="ui-corner-all {% if p.upgraded == "0" %}boxer{% else %} upgraded {% endif %}">
            <img src="http://graph.facebook.com/{{p.id}}/picture"/>
            <input type="checkbox" id="{{p.id}}" class="btn-upgrade" {% if p.upgraded_by.email|default:current_user.email != current_user.email %}disabled{% endif %} {% if p.upgraded == "1" %}checked{% endif %} {% ifequal p.id page_id %}checked{% endifequal %}/>
            <label for="{{p.id}}">{% if p.upgraded == "1" %}Downgrade{% else %}Upgrade{% endif %}</label>
            <span class="upgrade-item-text">{{p.name}}</span> 
            </li>
	{% endfor %}
</ul>
<div id="price-summary" class="south-street">
    <div id="price-header">
      <h3>Summary</h3>
    </div>
    <div id="price-body">
       <p><span id="price">$0</span><span id="price-desc"> per month</span></p>
       {% if subscriber_info.status == "Active" %}
       <p id="upgrade-downgrade-notice">Clicking "Update" will update your billing to the amount above.</p>
       <input type="button" id="update-continue" value="Update &rarr;" />
       {% else %}
       <form method="POST" action="http://sites.fastspring.com/seedprod/api/order">
         <input type="hidden" name="action" value="create"/>
         <input type="hidden" name="mode" value="test"/>
         <input type="hidden" id="referrer" name="referrer" value="{{user.id}}"/>
         <input type="hidden" name="contact_fname" value="{{fname}}"/>
         <input type="hidden" name="contact_lname" value="{{lname}}"/>
         <input type="hidden" name="contact_email" value="{{user.email}}"/>
         <input type="hidden" name="destination" value="checkout"/>
         <input type="hidden" name="product_1_path" value="/pagifypro"/>
         <input type="hidden" id="product_1_quantity" name="product_1_quantity" value="0"/>
         <input type="submit" id="price-continue" value="Continue &rarr;" />
       </form>
       {% endif %}
       
    </div>
</div>
<span id="user-id" class="hidden">{{user.id}}</span>
<div id="dialog-upgradedowngrade" title="Update Status" style="display:none;">
	<p></p>
</div>
{% endblock %}
{% block foot %}
<script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
<script>
$.ajaxSetup ({
    // Disable caching of AJAX responses */
    cache: false
});
var priceperpage = 7;
var total = 0;
var numpages = 0;
$(document).ready(function() {
    pages = '';
    numpages = 0;
    $(".btn-upgrade:checked").each(function() {
      if($(this).is(':checked')){
        numpages++;
        if (pages != ''){
          pages = pages + ',';
        }
        pages = pages + $(this).attr('id');
      }
    });
    total = numpages * priceperpage;
    $("#referrer").val(encodeURIComponent($("#user-id").text() + '|' + pages));
    $("#product_1_quantity").val(numpages);
    $("#price").html("$" + total);
  
    $(".btn-upgrade,#price-continue,#update-continue").button().fadeIn();
    
    $(".btn-upgrade:checked").each(function() {
      if($(this).is(':checked')){
        $(this).parent('li').addClass('upgraded');
        $(this).parent('li').removeClass('boxer');
        $(this).parent('li').find('label > span').html('Downgrade')
        //$(" + label .ui-button-text",this).html('Upgraded');
      }else{
        $(this).parent('li').addClass('boxer');
        $(this).parent('li').removeClass('upgraded');
        $(this).parent('li').find('label > span').html('Upgrade')
      }
    });
    
    $(".btn-upgrade").bind('click', function() {
      if($(this).is(':checked')){
        $(this).parent('li').addClass('upgraded');
        $(this).parent('li').removeClass('boxer');
        $(this).parent('li').find('label > span').html('Downgrade')
      }else{
        $(this).parent('li').addClass('boxer');
        $(this).parent('li').removeClass('upgraded');
        $(this).parent('li').find('label > span').html('Upgrade')
      }
      pages = '';
      numpages = 0;
      $(".btn-upgrade:checked").each(function() {
        if($(this).is(':checked')){
          numpages++;
          if (pages != ''){
            pages = pages + ',';
          }
          pages = pages + $(this).attr('id');
        }
      });
      total = numpages * priceperpage;
      $("#referrer").val(encodeURIComponent($("#user-id").text() + '|' + pages));
      $("#product_1_quantity").val(numpages);
      $("#price").html("$" + total);
    });
    
    var topwin1 = $('#price-summary').offset().top - parseFloat($('#price-summary').css('marginTop').replace(/auto/, 0));
    $(window).scroll(function (event) {
          var y = $(this).scrollTop();
          if (y >= topwin1) {
            $('#price-summary').addClass('fixed');
            $('#price-summary').css('top',0);
          } else {
            $('#price-summary').removeClass('fixed');
            $('#price-summary').css('top',119);
          }
    });
    
    $('#update-continue').bind('click',function() {
      if(numpages == 0){
        window.location = "{{subscriber_info.details}}"
        return
      }
      $.post("/api/upgradedowngrade", { qty: numpages,pages: pages },function(data){
    	    if(data){
    	        $("#dialog-upgradedowngrade p").html("Your Pages have been successfully updated!");
    	    }else{
    	        $("#dialog-upgradedowngrade p").html("There was an error with the update.<br/>Please try again.");
    	    };
    	    $( "#dialog-upgradedowngrade" ).dialog( "open" );
    	});//end ajax request
    });
    
    // Delete update
    $( "#dialog-upgradedowngrade" ).dialog({
          autoOpen: false,
    			resizable: false,
    			draggable:false,
    			show: "fade",
    			hide: "fade",
    			modal: true,
    			buttons: {
    				OK: function() {
    					$( this ).dialog( "close" );
    				}
    			}
    		});
});

</script>
{% endblock %}