{% extends "base.html" %}
{% block title %}Upgrade - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/south-street/jquery-ui-1.8.9.custom.css">
{% endblock %}
{% block body %}
<h1>Upgrade</h1>
<ul id="upgrade-list" class="south-street">
    {% for p in pages %}
        <li class="boxer ui-corner-all">
            <img src="http://graph.facebook.com/{{p.id}}/picture"/>
            <input type="checkbox" id="{{p.id}}" class="btn-upgrade" {% ifequal p.id page_id %}checked{% endifequal %}/><label for="{{p.id}}">Upgrade</label>
            <span class="upgrade-item-text">{{p.name}}</span> 
            </li>
	{% endfor %}
</ul>
<div id="price-summary" class="south-street">
    <div id="price-header">
      <h3>Summary</h3>
    </div>
    <div id="price-body">
       <p><span id="price">$0</span><span id="price-desc"> per month</span></p>
       <form method="POST" action="http://sites.fastspring.com/seedprod/api/order">
         <input type="hidden" name="action" value="create"/>
         <input type="hidden" name="destination" value="checkout"/>
         <input type="hidden" name="product_1_path" value="/pagifypro"/>
         <input type="hidden" id="product_1_quantity" name="product_1_quantity" value="0"/>
         <input type="submit" id="price-continue" value="Continue &rarr;" />
       </form>
       
    </div>
</div>
{% endblock %}
{% block foot %}
<script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
<script>
var priceperpage = 7;
var total = 0;
var numpages = 0;
$(document).ready(function() {
    numpages = 0;
    $(".btn-upgrade:checked").each(function() {
      if($(this).is(':checked')){
        numpages++;
      }
    });
    total = numpages * priceperpage;
    $("#product_1_quantity").val(numpages);
    $("#price").html("$" + total);
  
    $(".btn-upgrade,#price-continue").button().fadeIn();
    
    $(".btn-upgrade:checked").each(function() {
      if($(this).is(':checked')){
        $(this).parent('li').css({'background-color':'#EDFCD5 ','background-image':'none !important'});
        //$(" + label .ui-button-text",this).html('Upgraded');
      }else{
        $(this).parent('li').attr('style',''); 
      }
    });
    
    $(".btn-upgrade").bind('click', function() {
      if($(this).is(':checked')){
        $(this).parent('li').css({'background-color':'#EDFCD5 ','background-image':'none !important'});
      }else{
        $(this).parent('li').attr('style',''); 
      }
      numpages = 0;
      $(".btn-upgrade:checked").each(function() {
        if($(this).is(':checked')){
          numpages++;
        }
      });
      total = numpages * priceperpage;
      $("#product_1_quantity").val(numpages);
      $("#price").html("$" + total);
    });
    
    var topwin1 = $('#price-summary').offset().top - parseFloat($('#price-summary').css('marginTop').replace(/auto/, 0));
    $(window).scroll(function (event) {
          var y = $(this).scrollTop();
          if (y >= topwin1) {
            $('#price-summary').addClass('fixed');
            $('#price-summary').css('top',0);
          } else {
            $('#price-summary').removeClass('fixed');
            $('#price-summary').css('top',119);
          }
    });
});

</script>
{% endblock %}