{% extends "base.html" %}
{% block title %}Upgrade - {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/south-street/jquery-ui-1.8.9.custom.css">
{% endblock %}
{% block body %}
<h1>Upgrade</h1>
<ul id="upgrade-list" class="south-street">
    {% for p in pages %}
        <li class="boxer ui-corner-all">
            <img src="http://graph.facebook.com/{{p.id}}/picture"/>
            <input type="checkbox" id="{{p.id}}" class="btn-upgrade" {% ifequal p.id page_id %}checked{% endifequal %}/><label for="{{p.id}}">Upgrade</label>
            <span class="upgrade-item-text">{{p.name}}</span> 
            </li>
	{% endfor %}
</ul>
<p><a href="{{subscribe_url}}">Subscribe</a></p>
{% endblock %}
{% block foot %}
<script src="/static/js/jquery-ui-{{google.jquery_ui_version}}.custom.min.js"></script>
<script>

$(document).ready(function() {
    $(".btn-upgrade").button().fadeIn();
    $(".btn-upgrade:checked").each(function() {
      if($(this).is(':checked')){
        $(this).parent('li').css({'background-color':'#EDFCD5 ','background-image':'none !important'});
      }else{
        $(this).parent('li').attr('style',''); 
      }
    });
    
    $(".btn-upgrade").bind('click', function() {
      if($(this).is(':checked')){
        $(this).parent('li').css({'background-color':'#EDFCD5 ','background-image':'none !important'});
      }else{
        $(this).parent('li').attr('style',''); 
      }
    });
});

</script>
{% endblock %}