<form id="fm-{{widget.id}}" class="widget-form widget-feed">
<span class="fm-divider">
<label for="feed_url">Feed URL:</label>
<input type="text" name="feed_url" class="{{widget.id}} " value="{{widget.feed_url|default:""}}"></input>
</span>
</form>

<script>
var timeout_{{widget.id|cut:"-"}};
$('.{{widget.id}}').bind('textchange', function () {
  clearTimeout(timeout_{{widget.id|cut:"-"}});
  //$('#ajaxFired').html('<strong>Typing...</strong>');
    var self = this;
    timeout_{{widget.id|cut:"-"}} = setTimeout(function () {
        saveWidget('{{widget.id}}');
        //$('#ajaxFired').html('<strong>Saved</strong>: ' + $(self).val());
  }, 1000);
});  
$("#fm-{{widget.id}}").validate({
    rules: {
      feed_url: {
        url: true
      }
    }
 });
</script>
