<form id="fm-{{widget.id}}" class="widget-form">
Google Maps Link:<br/>
<input type="text" name="googlemaps_link" class="{{widget.id}}" value="{{widget.googlemaps_link|default:""}}"></input>
</form>

<script>
var timeout_{{widget.id|cut:"-"}};
$('.{{widget.id}}').bind('textchange', function () {
  clearTimeout(timeout_{{widget.id|cut:"-"}});
  //$('#ajaxFired').html('<strong>Typing...</strong>');
    var self = this;
    timeout_{{widget.id|cut:"-"}} = setTimeout(function () {
        saveWidget('{{widget.id}}');
        //$('#ajaxFired').html('<strong>Saved</strong>: ' + $(self).val());
  }, 1000);
});
</script>
