<form id="fm-{{widget.id}}" class="widget-form">
<textarea name="text__text" class="{{widget.id}}" style="height:100px">{{widget.text__text|default:""}}</textarea>
</form>

<script>
$('.{{widget.id}}').bind("blur",function() { 
	saveWidget('{{widget.id}}');
});
var timeout_{{widget.id|cut:"-"}};
$('.{{widget.id}}').bind('textchange', function () {
  clearTimeout(timeout_{{widget.id|cut:"-"}});
  //$('#ajaxFired').html('<strong>Typing...</strong>');
    var self = this;
    timeout_{{widget.id|cut:"-"}} = setTimeout(function () {
        saveWidget('{{widget.id}}');
        //$('#ajaxFired').html('<strong>Saved</strong>: ' + $(self).val());
  }, 1000);
});
</script>
