<form id="fm-{{widget.id}}" class="widget-form widget-youtube">
    <span class="fm-divider">
    <label for="youtube_username">YouTube Username:</label>
    <input type="text" name="youtube_username" class="{{widget.id}}" value="{{widget.youtube_username|default:""}}"></input>
    </span>
    <span class="fm-divider">
    <label for="youtube_count">How Many:</label>
    <select name="youtube_count" class="{{widget.id}}">
        {% for i in tenr %}
            <option value="{{i}}" {% if widget.youtube_count|add:"0" == i|add:"0" %}selected {% endif %}>{{i}}</option>
        {% endfor %}
    </select>
    </span>
</form>

<script>
var timeout_{{widget.id|cut:"-"}};
$('.{{widget.id}}').bind('textchange change', function () {
  clearTimeout(timeout_{{widget.id|cut:"-"}});
  //$('#ajaxFired').html('<strong>Typing...</strong>');
    var self = this;
    timeout_{{widget.id|cut:"-"}} = setTimeout(function () {
        saveWidget('{{widget.id}}');
        //$('#ajaxFired').html('<strong>Saved</strong>: ' + $(self).val());
  }, 1000);
});
/*$("#fm-{{widget.id}}").validate({
    rules: {
      youtube_username: {
        required: true
      }
    }
 });*/
</script>