<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Pagify - Not Found</title>
</head>
<body style="text-aligh:center;">
    <img src="http://app.pagifyapp.com/static/images/pagify.png" alt="Pagify Logo" style="text-aligh:center; margin-top:40px">
    <h1 style="text-aligh:center; margin:40px">Oops, the page you were looking could not be found :(</h1>

</body>
</html>
