<div class="yui3-g ui-widget-header box_shadow">
	<div class="yui3-u-1-3">
<header id="branding">
    <hgroup>
        <h1 id="site-title"><span><a href="/" title="{{config.name}}" rel="home">{{config.name}}</a></span></h1>
		<h2 id="site-description">{{config.description}}</h2>
    </hgroup>
</header><!-- #branding -->
</div>

<div class="yui3-u-2-3">
<nav id="access">
	<h1 class="visuallyhidden">Main menu</h1>
	<div class="skip-link visuallyhidden"><a href="#content" title="Skip to content">Skip to content</a></div>
	<div class="menu">
	    <ul>
			<li class="page_item"><a href="/dashboard">Pages</a></li>
			<li class="page_item"><a href="/upgrade">Upgrade</a></li>
			<li class="page_item"><a href="javascript:void(0);" onclick="feedback_widget.show()">Help</a></li>
			<li class="page_item">{% include "inc.fblogin.html" %}</li>
	    </ul>
	</div>
</nav><!-- #access -->
</div>
</div>